.Container {
    display:flex;
    justify-content: center;
    font-family: garamond;
    border-radius: 40px;
    background-color: antiquewhite;
    padding: 25px;
}
 
input [type=text] , select, textarea {
    width: 100%;
    font-family: garamond; 
    padding: 12px;  
    border: 1px solid antiquewhite; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 16px; 
    resize: vertical;
}

#submit {
    background-color:white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#submit:hover {
    background-color:rgb(168, 155, 143);
}

@media (max-width: 800px){
    .Container {
        background-color:#f2f2f2;
    }
}