body {
    background-color: rgb(199, 197, 209)
}

header {

    top: 0%;
    right: 0%;
    left: 0%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 20px;
}

.inner_main_menu {margin: 0 auto; width: 1000px;height: 90px;}
.inner_main_menu ul{margin: 0; padding: 30px 0 0; list-style:none;text-align: right;}
.inner_main_menu ul li{float: none; display: inline-block;}
.inner_main_menu ul li:nth-child(1){float: left;}
.inner_main_menu ul li:nth-child(2){float: left;}
.inner_main_menu ul li:nth-child(3){float: right;}
.inner_main_menu ul li a{color:rgb(168, 155, 143);display:block;padding: 10px 20px; text-decoration: none; text-transform: uppercase; letter-spacing: 3px;}
.inner_main_menu ul li a:hover{color:beige}

#main_menu{width: 100%;height: 90px;background-color: antiquewhite;border-radius: 15px 50px;}

.logo_area{padding-right: 30px;}

* {
    box-sizing: border-box;
  }

.main {
    max-width: 1000px;
    margin-top: 100px;
    padding-top: 60px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 450px;
    margin-right: 450px;
  }
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 80px;
    gap: 70px;
    
  }
  
  
  .column {
    flex: 50%;
    padding: 0 40px;
    
    
  }
  
  .column img {
    margin-top: 90px;
    vertical-align: middle;
    background-color: rgb(243, 237, 222);
    padding: 10px;
    margin-left: 20px;
    
  }

h2 {
    font-family:Garamond;
}

.info {
    text-align: center;
    margin:80px;
}

.text-box {
    width:90%;
    background-color: rgb(79, 95, 102);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width:50%;
}
h1{ font-size: 4rem; margin-top: 100px; letter-spacing: 7px; text-align: center;color: rgb(59, 62, 61);}

p{color: rgb(33, 30, 30); font-size:2rem; font-family: Garamond; text-align: center;}